.pagination {
  margin: 0;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.page-link {
  color: #007bff;
  cursor: pointer;
}
img {
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add a shadow */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8); /* Dark color with some transparency */
  border-radius: 20%; /* Optional: to make the icon circular */
  width: 40px; /* Optional: change icon size */
  height: 40px; /* Optional: change icon size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add a shadow */
}
