@media (min-width: 780px) {
    .item-container {
        display: flex;
        align-items: center;
    }
    .proceedBtn {
        width: 100px;
        max-width: 100%;
    }
  }
@media (min-width: 1200px) {
    .item-container {
        display: flex;
        align-items: center;
    }
    .proceedBtn {
        width: 100px;
        max-width: 100%;
    }
  }